<div class="container-fluid">
    <div class="row">
        <h1>Ejemplo OFFSET</h1>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-3">col-md-3 col-md-offset-3</div>
        <div class="col-md-3 col-md-offset-3">col-md-3 col-md-offset-3</div>       
    </div>
</div>
