<div class="container-fluid">
    <div class="row">
        <h1>Ejemplo COL</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-ms-6 col-md-3 col-lg-3">
                col-xs-12 col-ms-6 col-md-3 col-lg-3
        </div>
        <div class="col-xs-12 col-ms-6 col-md-3 col-lg-3">
                col-xs-12 col-ms-6 col-md-3 col-lg-3
        </div>
        <div class="col-xs-12 col-ms-6 col-md-3 col-lg-3">
                col-xs-12 col-ms-6 col-md-3 col-lg-3
        </div>
        <div class="col-xs-12 col-ms-6 col-md-3 col-lg-3">
                col-xs-12 col-ms-6 col-md-3 col-lg-3
        </div>
    </div>
</div>
