<div class="container-fluid">
    <div class="row">
        <h1>Ejemplo HIDDEN</h1>
    </div>
    <div class="row">
        <div class="hidden-xs col-md-3">col-xs-hidden col-md-3</div>
        <div class="col-md-3">col-md-3</div>
        <div class="col-md-3">col-md-3</div>
        <div class="col-md-3">col-md-3</div>
    </div>
</div>
