<div class="container" style="background-color: black;">
    <h1>Muestra Container</h1>
</div>
<!--Con este container fluid podemos ocupar todo el espacio
<div class="container-fluid" style="background-color: black;">
        <h1>Muestra Container</h1>
    </div>-->
