<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">Uso del BootStrap</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="holaMundo" routerLinkActive="active">Hola Mundo <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="container" routerLinkActive="active">Container</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="medidas" routerLinkActive="active">Medidas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="offset" routerLinkActive="active">Offset</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="hidden" routerLinkActive="active">Hidden</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>